<p><%= link_to "<- Back to #{@project.name}", project_path(@project) %></p>

<h1>New <%=h @structure.structure_template.name %></h1>

<%= error_messages_for :structure %>

<% form_for(:structure, :url => structures_path(@project)) do |f| -%>
  <%= hidden_field_tag "template_id", @structure.structure_template.id %>

  <%= f.label "name", "Name:" %> <%= f.text_field("name") %>
  <%= render :partial => "form" %>
<% end -%>
