<h1>Editing template "<%= @doc_template.name %>"</h1>

<% form_for(@doc_template, :url => doc_template_path(@project, @doc_template)) do |f| -%>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end -%>