<h1>Workflows</h1>

<ul class="itemlist">
  <% itemlist_items(@workflows, :delete_path => workflows_path) do |workflow| %>
    <% link_to(workflow_path(workflow)) do -%>
      <%= image_tag "workflow.png" %>
      <%= workflow.name %>
    <% end -%>
  <% end %>
  <li style="overflow: hidden;">
    <% form_for(:workflow, :url => workflows_path) do |f| %>
    <div style="float: right;">
      <button class="new">
        <%= image_tag "workflow_add.png" %>
	Create workflow...
      </button>
    </div>
    <%= f.text_field "name" %>
    <% end -%>
  </li>
</ul>
