body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

div.topbar {
  background-color: #ff8;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px black solid;
  padding-bottom: 1px;
  padding-top: 1px;
}

div.topbar img {
  vertical-align: middle;
}

div.app_name {
  float: left;
  font-weight: bold;
  clear: none;
  padding-left: 3px;
}

div.nav_links {
  text-align: center;
  clear: none;
}

div.nav_links a {
  padding: 2px;
  padding-bottom: 3px;
}

div.nav_links a.selected {
  border: 1px black solid;
  position: relative;
  background-color: white;
  border-bottom: 1px white solid;
}

div.nav_links a.selected:hover {
  background-color: #000;
}

div.authbox {
  font-style: italic;
  float: right;
  clear: none;
  padding-right: 3px;
}

body {
  margin-top: 2.5em;
  font-family: Helvetica, Arial, sans-serif;
}

div.attribute_name {
  width: 150px;
  float: left;
}

.required {
  font-weight: bold;
}