.clear {
    clear: both;
}

.metadata {
    font-size: 115%;
    min-height: 14px;
    width: 100%;
    position: relative;
}

.attr {
    border: 1px #00f solid;
    background-color: #eef;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.attr .metadata {
    background-color: #ccf;
}

.showhide {
    font-color: #333;
    font-size: 90%;
    margin-left: 2em;
    display: inline-block;
}

.type {
    float: right;
    padding: 2px;
}

.attr .type {
    background-color: #aaf;
}

.name {
    padding: 2px;
    font-weight: bold;
    display: inline-block;
}

.actions {
    clear: both;
    background-color: black;
    color: white;
    width: 100%;
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.actions li {
    margin: 0;
    padding: 2px;
    display: inline-block;
    list-style-type: none;
}

.actions li a {
    color: white;
}

table.structure td p:first-child {
    margin-top: 0;
}

table.structure td p:last-child {
    margin-bottom: 0;
}

table.structure .document_content {
    padding: 0.5em;
    background-color: #e9e9e9;
}

form.button-to, form.button-to div {
    display: inline;
}

button, a.button, input[type=submit] {
    border: 1px black solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-weight: bold;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-image: url(/images/button-bg.png);
    background-position: 50% 50%;
    background-repeat: repeat-x;
}

button[disabled], a.button.disabled, input[type=submit][disabled] {
    background-image: none !important;
    background-color: #aaa !important;
    color: #666;
    border-color: #666;
}


input[type=submit]:hover, input[type=submit]:focus, a.button:hover, a.button:focus, button:hover, button:focus {
    background-image: url(/images/button-bg-prelight.png);
}

input[type=submit]:active, a.button:active, button:active {
    background-image: url(/images/button-bg-pressed.png);
}

input[type=submit]::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
}

a.button {
    text-decoration: none;
    color: #000;
    cursor: default;
}

.new {
    background-color: #6f6 !important;
}

.delete {
    background-color: #f66 !important;
}

.edit {
    background-color: #fc6 !important;
}

.save {
    background-color: #ccf !important;
}

ul.itemlist {
    z-index: 1;
    max-width: 60em;
    list-style-position: inside;
    list-style-type: none;
}

ul.itemlist li {
    padding-top: 2px;
    padding-bottom: 2px;
}

ul.itemlist li.even {
    background-color: #eee;
}

ul.itemlist li.odd {
    background-color: #ddd;
}

ul.itemlist a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

ul.itemlist a:hover {
    color: #fff;
}

button img {
    vertical-align: middle;
    padding-right: 0.3em;
}

ul.sortlist {
    list-style-type: none;
    margin-left: 20px;
    padding-left: 0px;
}

img.sort_handle {
    margin-left: -20px;
    float: left;
    cursor: move;
}