table.grid {
    width: 100%;
    border-collapse: collapse;
}

table.grid > tbody > tr > td, table.grid > thead th {
    border: 1px #aaa solid;
    height: 13px;
    overflow: hidden;
    min-width: 10em;
    padding: 0;
}

table.grid > tbody > tr > td input, table.grid > tbody > tr > td select {
    font-family: sans-serif;
    font-size: 13px;
    border: none;
    min-width: 5em;
    width: 100%;
    margin: 0;
    background-color: transparent;
    padding: 2px;
}

table.editgrid > tbody > tr > td:hover {
    background-color: #ffb;
}

table.grid > tbody > tr > td select {
    width: 100%;
}

.attr_current_value {
    display: none;
}

table.grid .expand_edit {
    /*float: right;*/
    cursor: pointer;
}