%div
  - if doc.blurb.blank?
    %a.pull-right.add_description{:href => "#"} Add description
  %h4.shrink-wrap
    = link_to(doc.name, doc_path(@project, doc))
    - if doc.assignee
      %small
        (Assigned to #{h doc.assignee.name})
= in_place_editor doc, :blurb, :url => doc_path(@project, doc, :format => 'json'), |
  :rows => 4, :tag => "div", :class => "blurb_display",                            |
  :style => (doc.blurb.blank? ? "display: none;" : "")                             |
