<h1>Editing doc</h1>

<%= error_messages_for :doc %>

<% form_for(:doc, :url => doc_path(@doc), :html => { :method => :put }) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Content</b><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', doc_path(@doc) %> |
<%= link_to 'Back', docs_path %>
