<p><%= link_to "<- Back to #{@project.name}", project_path(@project) %></p>

<% form_for(@doc, :url => docs_path(@project)) do |f| -%>
  <%= hidden_field_tag "template_id", @doc.doc_template.id %>
  <%= render :partial => "form", :locals => { :f => f } %>

  <p>
    <%= submit_tag "Create #{@doc.doc_template.name}", :class => "new" %>
  </p>
<% end -%>