<div class="wysihtml5">
  <div class="wysihtml5-toolbar" style="display: none;">
    <select class="wysihtml5-block-class">
      <option value="p">Paragraph</option>
      <option value="h1">Heading 1</option>
      <option value="h2">Heading 2</option>
      <option value="h3">Heading 3</option>
      <option value="h4">Heading 4</option>
      <option value="h5">Heading 5</option>
      <option value="h6">Heading 6</option>
    </select>

    <a data-wysihtml5-command="bold">bold</a>
    <a data-wysihtml5-command="italic">italic</a>
    <a data-wysihtml5-command="underline">underline</a>
    
    <a data-wysihtml5-command="insertOrderedList">ol</a>
    <a data-wysihtml5-command="insertUnorderedList">ul</a>
    
    <a data-wysihtml5-action="change_view">html view</a>
  </div>
  
  <%= f.text_area field, text_area_options %>
</div>