<h2><%= @csv_export.name %></h2>

<%= render :partial => 'jumpbox' %>

<h3><%= @csv_export.filename %></h3>

<table border="1" style="width: 100%;">
  <tr>
	  <% @csv_export.attr_names.each do |attr_name| -%>
      <th><%= attr_name %></th>
    <% end -%>
  </tr>
  <% 3.times do -%>
    <tr>
      <% @csv_export.attr_names.size.times do -%><td>...</td><% end -%>
    </tr>
  <% end -%>
</table>