<h1>Editing document</h1>

<%= error_messages_for :document %>

<% form_for(:document, :url => document_path(@document), :html => { :method => :put }) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Content</b><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', document_path(@document) %> |
<%= link_to 'Back', documents_path %>