<table>
  <tr>
    <th>Default value</th>
    <td>
      <%= jipe_editor field, "default", :class => "Config", :attr_id => field.attr.id, :id => "attr_#{field.attr.id}_config_default" %>
    </td>
  </tr>
</table>

