<% if value.field.display_type == "radio" -%>
  <ul style="list-style-type: none;">
    <% value.field.choices.each do |choice| -%>
      <li><%= radio_button_tag "attr_value[#{value.id}][value]", choice.value, value.value == choice.value %> <%=h choice.value %></li>
    <% end -%>
  </ul>
<% elsif value.field.display_type == "dropdown" -%>
  <%= select_tag("attr_value[#{value.id}][value]", 
                 options_for_select([""] + value.field.choices.collect { |c| c.value }, value.value)) %>
<% elsif value.field.display_type == "multiple" -%>
  <%= select_tag("attr_value[#{value.id}][value]", 
                 options_for_select(value.field.choices.collect { |c| c.value }, value.value),
                 :multiple => true) %>
<% end -%>
