<h1>Viewing all template schemas</h1>

<table>
  <tr>
  </tr>
  
<% for template_schema in @template_schemas %>
  <tr>
    <td><%= link_to template_schema.name, template_schema_path(template_schema) %></td>
    <td><%= link_to 'Destroy', template_schema_path(template_schema), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New template schema', new_template_schema_path %>