<% if @site_settings.is_admin?(logged_in_person) -%>
  <div class="jumpbox">
    <div class="navigation">
      <% link_to({ :action => "edit_settings" }, :class => "button edit") do %>
        Edit site settings
      <% end -%>
    </div>
  </div>
<% end -%>

<% if @site_settings.welcome_doc -%>
  <%= @site_settings.welcome_doc.content %>
<% else -%>
  <h1>Welcome to Vellum</h1>

  <p>Vellum is a collaborative online writing application.</p>
<% end -%>

<% if not logged_in? -%>
  <% link_to :controller => "auth", :action => "login", :return_to => projects_url do -%>
    To get started, click here to log in.
  <% end -%>
<% end -%>