<h1>Listing workflow_transitions</h1>

<table>
  <tr>
  </tr>

<% @workflow_transitions.each do |workflow_transition| %>
  <tr>
    <td><%= link_to 'Show', workflow_transition %></td>
    <td><%= link_to 'Edit', edit_workflow_transition_path(workflow_transition) %></td>
    <td><%= link_to 'Destroy', workflow_transition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New workflow_transition', new_workflow_transition_path %>