<h1>New workflow_transition</h1>

<% form_for(@workflow_transition) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', workflow_transitions_path %>