<h1>Editing workflow_step</h1>

<% form_for(@workflow_step) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @workflow_step %> |
<%= link_to 'Back', workflow_steps_path %>