<h1>New relationship_type</h1>

<% form_for(@relationship_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', relationship_types_path %>