<h1>New template in schema "<%=h @template_schema.name%>"</h1>

<%= error_messages_for :structure_template %>

<% form_for(:structure_template, :url => structure_templates_path(@template_schema)) do |f| %>
  <p>
    <%= f.text_field "name" %>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', structure_templates_path(@template_schema) %>