<h1>New structure_template</h1>

<%= error_messages_for :structure_template %>

<% form_for(:structure_template, :url => structure_templates_path(@template_schema)) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', structure_templates_path(@template_schema) %>