<h1>Listing attrs</h1>

<table>
  <tr>
  </tr>
  
<% for attr in @attrs %>
  <tr>
    <td><%= link_to 'Show', attr_path(@structure_template, attr) %></td>
    <td><%= link_to 'Edit', edit_attr_path(@structure_template, attr) %></td>
    <td><%= link_to 'Destroy', attr_path(@structure_template, attr), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attr', new_attr_path(@structure_template) %>