<h1>New attribute for template "<%=h @structure_template.name %>"</h1>

<%= error_messages_for :attr %>

<% form_for(:attr, :url => attrs_path(@project, @structure_template)) do |f| %>
  <%= hidden_field_tag "config_class", params[:config_class] %>
  <p>
    <%= f.text_field "name" %>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', structure_template_path(@project, @structure_template) %>
