<h1>New attr</h1>

<%= error_messages_for :attr %>

<% form_for(:attr, :url => attrs_path) do |f| %>
  <p>
    <%= select_tag "config_class", options_for_select(["TextField"]) %>
    <%= f.text_field "name" %>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', attrs_path %>