<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title %> - <%= @site_settings.site_name %></title>
  <script src="<%= javascript_path 'svgweb/svg' %>" data-path="<%= url_for '/javascripts/svgweb/' %>"></script>
  <%= stylesheet_link_tag 'application', 'editors', 'jumpbox', "structures", "jquery-ui.custom", "site_theme" %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails' %>
  <%= javascript_include_tag 'wymeditor/jquery.wymeditor.pack' %>
  <%= javascript_include_tag 'jquery.jeditable.mini' %>
  <%= javascript_include_tag 'farbtastic' %>
  <%= stylesheet_link_tag 'farbtastic/farbtastic' %>
  
  <%= javascript_include_tag 'application' %>
  <%= auto_complete_stylesheet %>
</head>
<body>
  
<div class="topbar">
  <div class="app_name">
    <%= link_to @site_settings.site_name, projects_path %>
  </div>
  <%= render :partial => "auth/mini_auth_form" %>
  <% if @project and !@project.new_record? -%>
    <div class="nav_links">
      <%= nav_link_to @project.name, project_path(@project), "project.png", 
          %w{projects structures}.include?(params[:controller]) %>
      <%= nav_link_to "Templates", doc_templates_path(@project), "template.png" %>
      <%= nav_link_to "Maps", maps_path(@project), "map.png" %>
      <%= nav_link_to "Publication", publication_templates_path(@project), "publication.png" %>
    </div>
  <% end -%>
</div>

<% if flash[:error_messages] and flash[:error_messages].length > 0 -%>
  <div class="error_messages">
    <h2>There were some errors processing your request:</h2>
    <ul>
      <% flash[:error_messages].each do |msg| -%>
        <li><%= msg%></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
