<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title %> - <%= @site_settings.site_name %></title>
  <script src="<%= javascript_path 'svgweb/svg' %>" data-path="<%= url_for '/javascripts/svgweb/' %>"></script>
  <%= stylesheet_link_tag 'application', 'editors', 'jumpbox', "structures", "jquery-ui.custom", "site_theme" %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails' %>
  <%= javascript_include_tag 'wymeditor/jquery.wymeditor' %>
  <script type="text/javascript">
    jQuery.noConflict();
  </script>
  <%= javascript_include_tag 'prototype', 'effects', 'dragdrop', 'controls' %>
  <%= javascript_include_tag '/jipe/jester' %>
  <%= javascript_include_tag '/jipe/jipe' %>
  <%= javascript_include_tag 'builder', 'slider' %>
  <%= javascript_include_tag 'colorPicker/yahoo.color.js', 'colorPicker/colorPicker' %>
  <%= stylesheet_link_tag 'colorPicker' %>
  
  <%= javascript_include_tag 'application' %>
  <%= auto_complete_stylesheet %>
  
  <script type="text/javascript">
  jQuery(function() {
      jQuery(".wymeditor").wymeditor({
        'skin': 'vellum',
        toolsItems: [
           {'name': 'Bold', 'title': 'Strong', 'css': 'wym_tools_strong'}, 
           {'name': 'Italic', 'title': 'Emphasis', 'css': 'wym_tools_emphasis'},
           {'name': 'InsertOrderedList', 'title': 'Ordered_List', 'css': 'wym_tools_ordered_list'},
           {'name': 'InsertUnorderedList', 'title': 'Unordered_List', 'css': 'wym_tools_unordered_list'},
           {'name': 'Indent', 'title': 'Indent', 'css': 'wym_tools_indent'},
           {'name': 'Outdent', 'title': 'Outdent', 'css': 'wym_tools_outdent'},
           {'name': 'Undo', 'title': 'Undo', 'css': 'wym_tools_undo'},
           {'name': 'Redo', 'title': 'Redo', 'css': 'wym_tools_redo'},
           {'name': 'InsertImage', 'title': 'Image', 'css': 'wym_tools_image'},
           {'name': 'ToggleHtml', 'title': 'HTML', 'css': 'wym_tools_html'},
           {'name': 'Paste', 'title': 'Paste_From_Word', 'css': 'wym_tools_paste'},
         ],
         logoHtml: '',
         iframeBasePath: '<%= url_for "/javascripts/wymeditor/iframe/vellum/" %>',
         postInit: function(wym) {
           wym.parser._Listener.block_tags.push("u");
           
             //add the 'Wrap' translation (used here for the dialog's title)
             jQuery.extend(WYMeditor.STRINGS['en'], {
                 'Underline': 'Underline'
             });

             //construct the wrap button's html
             //note: the button image needs to be created ;)
             var html = "<li class='wym_tools_underline'>"
                      + "<a href='#'"
                      + " title='Underline'"
                      + " style='background-image:"
                      + " url(<%=image_path('text_underline.png')%>); "
                      + " background-position: 50% 50%;'>"
                      + "Underline"
                      + "</a></li>";

             //add the button to the tools box
             jQuery(html).insertAfter(jQuery(wym._box)
              .find(wym._options.toolsSelector + wym._options.toolsListSelector + ' .wym_tools_emphasis'));
             
             //handle click event on wrap button
             jQuery(wym._box)
             .find('li.wym_tools_underline a').click(function() {
                 wym._doc.execCommand("Underline", '', null);
                 return(false);
             });
             
         }
      });
      
      jQuery(".vellumEditExpander").vellumEditExpander();
      jQuery(".vellumAutoResizeWym").vellumAutoResizeWym();
  });
  </script>

</head>
<body>
  
<div class="topbar">
  <div class="app_name">
    <%= link_to @site_settings.site_name, projects_path %>
  </div>
  <%= render :partial => "auth/mini_auth_form" %>
  <% if @project and !@project.new_record? -%>
    <div class="nav_links">
      <%= nav_link_to @project.name, project_path(@project), "project.png", 
          %w{projects structures}.include?(params[:controller]) %>
      <%= nav_link_to "Templates", doc_templates_path(@project), "template.png" %>
      <%= nav_link_to "Maps", maps_path(@project), "map.png" %>
      <%= nav_link_to "Publication", publication_templates_path(@project), "publication.png" %>
    </div>
  <% end -%>
</div>

<% if flash[:error_messages] and flash[:error_messages].length > 0 -%>
  <div class="error_messages">
    <h2>There were some errors processing your request:</h2>
    <ul>
      <% flash[:error_messages].each do |msg| -%>
        <li><%= msg%></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield.unpack("U*").collect { |s| (s > 127 ? "&##{s};" : s.chr) }.join("")  %>

</body>
</html>
