<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title %> - <%= @site_settings.site_name %></title>
  <script src="<%= javascript_path 'svgweb/svg' %>" data-path="<%= url_for '/javascripts/svgweb/' %>"></script>
  <%= stylesheet_link_tag 'application', 'editors', 'jumpbox', "structures" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag '/jipe/jester' %>
  <%= javascript_include_tag '/jipe/jipe' %>
  <%= javascript_include_tag 'builder', 'slider' %>
  <%= javascript_include_tag 'colorPicker/yahoo.color.js', 'colorPicker/colorPicker' %>
  <%= stylesheet_link_tag 'colorPicker' %>
  <%= auto_complete_stylesheet %>
  <%= include_tiny_mce_if_needed %>
</head>
<body>
  
<div class="topbar">
  <div class="app_name"><%= link_to @site_settings.site_name, :controller => "about", :action => "index" %></div>
  <%= render :partial => "auth/mini_auth_form" %>
  <div class="nav_links">
    <%= nav_link_to "Projects", projects_path(), "project.png" %>
    <%= nav_link_to "Template Schemas", template_schemas_path(), "schema.png" %>
    <%= nav_link_to "Workflows", workflows_path(), "workflow.png" %>
  </div>
</div>

<% if flash[:error_messages] and flash[:error_messages].length > 0 -%>
  <div class="error_messages">
    <h2>There were some errors processing your request:</h2>
    <ul>
      <% flash[:error_messages].each do |msg| -%>
        <li><%= msg%></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield.unpack("U*").collect { |s| (s > 127 ? "&##{s};" : s.chr) }.join("")  %>

</body>
</html>
